.footer-body{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}
.media{
    width: 65px;
    height: 65px;
    background-color: transparent;
    border: 1px solid #4682A9;
    border-radius: 100%;
    margin-left: 10px;
}
.media img{
    position: relative;
    top: 17px;
    color: white;
    mix-blend-mode: color-burn;
}
.socials{
    display: flex;
    margin-left: 80px;
}
.media:hover{
    background-color: #4682A9;
    border: 1px solid white;
}
.footer-navbar{
    display: flex;
    margin-left: 50px;
}
.footer-all{
    display: flex;
}
.foot-mail a{
    color: #4682A9;
    text-decoration: none;
    font-size: 1rem;
}
.foot-mail {
    text-align: left;
    font-size: 0.5rem;
}