.products-group{
    font-size: 3rem;
    font-family: 'Bagel Fat One', cursive;
    font-weight: 100;
    line-height: 150px;
    margin-top: 80px;
    text-transform: capitalize;
    color: #4682A9;
}